<div class="page_wrapper">
	<div id="profile_page">
		<%= image_tag "profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Darth Vader</h1>
		<p>Welcome to one of my portfolio sites!</p>
		<p>This site is a blog I built in Rails 4. You're actually on the demo app right now. Not bad, eh?</p>
		<p>If you'd like to follow along as I conquer the Galaxy, you can find me on Twitter, or on the Web, or you can sign up for my newsletter. Long live the Empire!</p>
	</div>
</div>